/*------------------ BODY ------------------*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Source Sans Pro", "Fira Sans", "Fira Sans Extra Condensed", sans-serif;
  color: #D83A56;
}
body .titulo__subrayado {
  border-bottom: solid 2px #f3adba;
  margin-bottom: 24px;
}
body h1 {
  color: #D83A56;
  font-size: 2.4rem;
  margin: 24px 0 24px;
  text-align: center;
  font-weight: 800;
}
body h2 {
  color: #D83A56;
  font-weight: 600;
  font-size: 2rem;
}
body h3 {
  font-size: 1.4rem;
}
body h4 {
  font-size: 1.2rem;
}
body .rutaNavegacion {
  margin-top: 24px;
  font-size: 1.2rem;
}
body .rutaNavegacion a {
  text-decoration: none;
  color: #D83A56;
}
body .rutaNavegacion span {
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  .padding__contenido {
    padding: 0 16px 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .padding__contenido {
    padding: 0 64px 0;
  }
}
@media only screen and (min-width: 992px) {
  .padding__contenido {
    padding: 0 80px 0;
  }
}
/*------------------ HEADER ------------------*/
header {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(90, 1, 1, 0.24);
  font-family: "Source Sans Pro", "Fira Sans", "Fira Sans Extra Condensed", sans-serif;
  font-weight: 400;
  font-stretch: condensed;
}
header .navbar-brand {
  width: 90px;
  height: 50px;
}
header img {
  width: 100%;
  height: 100%;
}
header .bg {
  background-color: #D83A56;
}
header .navbar-light .navbar-toggler {
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4px 8px;
  border-radius: 4px;
}
header .navbar-light .navbar-toggler img {
  width: 24px;
}
header .navbar-nav li:hover button {
  border-color: transparent;
}
header .dropdown-toggle-split {
  padding-left: 0%;
  color: white;
}
header .nav-item-desplegable {
  display: flex;
  flex-direction: column;
}
header .nav-item-desplegable .btn-group {
  display: inline-block;
  margin-right: 8px;
}
header .nav-item-desplegable .btn-group .btn-danger {
  padding: 0;
  background-color: transparent;
}
header .nav-item-desplegable .btn-group .nav-link {
  padding-right: 0;
}
header .nav-item-desplegable .btn-group .btn-danger:hover {
  border-color: transparent;
}
header .nav-item-desplegable .btn-group .dropdown-menu {
  border-color: transparent;
}
header .nav-item-desplegable .btn-group .dropdown-menu .dropdown-item {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 4px;
}
header .nav-item-desplegable .btn-group .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
header .nav-item-desplegable .btn-group .dropdown-toggle-split {
  margin-left: 4px;
  padding-top: 2px;
}
header .nav-item-desplegable .dropdown-menu.bg.show::after {
  display: none;
}
header .nav-item-desplegable .btn-danger:not(:disabled):not(.disabled).active, header .nav-item-desplegable .btn-danger:not(:disabled):not(.disabled):active, header .nav-item-desplegable .show > .btn-danger.dropdown-toggle {
  background-color: transparent;
  border-color: transparent;
}

/*------------------ HOME ------------------*/
.carousel {
  z-index: 0;
}
.carousel li {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 16px;
}
.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
  display: none;
}
.carousel img {
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.home__cards__productos {
  display: flex;
  justify-content: center;
}
.home__cards__productos img {
  border-radius: 100%;
  padding: 6px;
  border-style: solid;
  border-width: 2.6px;
  border-color: #70d182;
  height: 136px;
  width: 136px;
  transition: all 1.5s;
}
.home__cards__productos p {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #8b8b8b;
}
.home__cards__productos a {
  text-decoration: none;
}
.home__cards__productos .home__cards__productos--over:hover {
  transform: rotateY(360deg);
}

.home__introduccion {
  background-color: #d3ffdb;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.home__info .home__info__contenedor {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 8px;
  border-style: solid;
  border-color: #70d18274;
  background: #d3ffdb;
}
.home__info div {
  padding: 8px;
}
.home__info h2 {
  color: #D83A56;
  padding: 8px 0 8px;
  font-size: 1.6rem;
}
.home__info p {
  font-size: 1rem;
}
.home__info .home__info__cards1 {
  grid-area: card1;
}
.home__info .home__info__cards2 {
  grid-area: card2;
}
.home__info .home__info__cards3 {
  grid-area: card3;
}
.home__info .home__info__imagenes {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .padding__contenido {
    padding: 0 40px 0;
  }

  .home__cards__productos {
    display: none;
  }

  .home__introduccion__texto {
    text-align: center;
  }
  .home__introduccion__texto .home__introduccion__texto__titulo {
    margin: 0;
    font-weight: 700;
    padding-top: 32px;
    font-size: 1.9rem;
  }
  .home__introduccion__texto .home__introduccion__texto__subtitulo {
    font-size: 1.05rem;
    padding: 16px 24px 32px;
  }

  .home__introduccion__galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 0.5fr);
    gap: 24px;
    grid-template-areas: "imagen1" "imagen2";
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .home__introduccion__galeria .home__introduccion__galeria__imagen1 {
    grid-area: imagen1;
    height: 30%;
  }
  .home__introduccion__galeria .home__introduccion__galeria__imagen2 {
    grid-area: imagen2;
    height: 30%;
  }
  .home__introduccion__galeria .home__introduccion__galeria__imagen3 {
    display: none;
  }
  .home__introduccion__galeria img {
    width: 60%;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .home__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    grid-template-areas: "card1" "card2" "card3";
    justify-content: center;
    text-align: center;
  }

  .home__info__contenedor {
    display: flex;
    flex-direction: column;
  }
  .home__info__contenedor .home__info__textos {
    width: 100%;
    display: inline-block;
  }
  .home__info__contenedor .home__info__contenedor__imagenes {
    display: block;
    width: 100%;
    height: 60vh;
  }
  .home__info__contenedor .home__info__contenedor__imagenes img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 8px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .home__cards__productos {
    margin: 60px 0 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "budines cookies cupcakes" "macarons mousses shots" "tartas tortas";
    text-align: center;
  }

  .home__introduccion__texto {
    text-align: center;
  }
  .home__introduccion__texto .home__introduccion__texto__titulo {
    margin: 0;
    font-weight: 700;
    padding-top: 32px;
    font-size: 2.2rem;
  }
  .home__introduccion__texto .home__introduccion__texto__subtitulo {
    font-size: 1.2rem;
    padding: 24px 24px 32px;
  }

  .home__introduccion__galeria {
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 36px;
    grid-template-areas: "imagen1 imagen2";
  }
  .home__introduccion__galeria .home__introduccion__galeria__imagen1 {
    grid-area: imagen1;
    text-align: right;
  }
  .home__introduccion__galeria .home__introduccion__galeria__imagen2 {
    grid-area: imagen2;
  }
  .home__introduccion__galeria .home__introduccion__galeria__imagen3 {
    display: none;
  }
  .home__introduccion__galeria img {
    width: 80%;
    border-radius: 8px;
  }

  .home__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 32px;
    grid-template-areas: "card1" "card2" "card3";
    justify-content: center;
    text-align: center;
    margin-bottom: 64px;
  }
  .home__info .home__info__contenedor {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .home__info .home__info__contenedor .home__info__textos {
    display: inline-block;
    width: 50%;
    margin-left: 8px;
  }
  .home__info .home__info__contenedor .home__info__contenedor__imagenes {
    display: inline-block;
    width: 50%;
  }
  .home__info .home__info__contenedor .home__info__contenedor__imagenes img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (min-width: 992px) {
  .home__cards__productos {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "budines cookies cupcakes macarons" "mousses shots tartas tortas";
  }
  .home__cards__productos .home__cards__productos__budines, .home__cards__productos .home__cards__productos__tortas, .home__cards__productos .home__cards__productos__tartas, .home__cards__productos .home__cards__productos__shots, .home__cards__productos .home__cards__productos__mousses, .home__cards__productos .home__cards__productos__macarons, .home__cards__productos .home__cards__productos__cupcakes, .home__cards__productos .home__cards__productos__cookies {
    grid-area: budines;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .home__cards__productos .home__cards__productos__cookies {
    grid-area: cookies;
  }
  .home__cards__productos .home__cards__productos__cupcakes {
    grid-area: cupcakes;
  }
  .home__cards__productos .home__cards__productos__macarons {
    grid-area: macarons;
  }
  .home__cards__productos .home__cards__productos__mousses {
    grid-area: mousses;
  }
  .home__cards__productos .home__cards__productos__shots {
    grid-area: shots;
  }
  .home__cards__productos .home__cards__productos__tartas {
    grid-area: tartas;
  }
  .home__cards__productos .home__cards__productos__tortas {
    grid-area: tortas;
  }

  .home__introduccion__texto {
    text-align: center;
  }
  .home__introduccion__texto .home__introduccion__texto__titulo {
    margin: 0;
    font-weight: 700;
    padding-top: 32px;
  }
  .home__introduccion__texto .home__introduccion__texto__subtitulo {
    font-size: 1.2rem;
    padding: 32px 32px 36px;
  }

  .home__introduccion__galeria {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 36px;
    grid-template-areas: "imagen1 imagen2 imagen3";
  }
  .home__introduccion__galeria .home__introduccion__galeria__imagen1 {
    grid-area: imagen1;
  }
  .home__introduccion__galeria .home__introduccion__galeria__imagen2 {
    grid-area: imagen2;
  }
  .home__introduccion__galeria .home__introduccion__galeria__imagen3 {
    grid-area: imagen3;
  }
  .home__introduccion__galeria img {
    width: 80%;
    border-radius: 8px;
  }

  .home__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 16px;
    grid-template-areas: "card1 card2 card3";
    justify-content: center;
    text-align: center;
  }
}
/*------------------ PRODUCTOS ------------------*/
section .productos {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 0.1fr 0.5fr 0.1fr 0.5fr 0.1fr 0.5fr 0.1fr 0.5fr 0.1fr 0.5fr 0.1fr 0.5fr 0.1fr 0.5fr 0.1fr 0.5fr;
  gap: 8px 36px;
  grid-auto-flow: row;
  grid-template-areas: "productos__aside productos__budines__titulo" "productos__aside productos__budines" "productos__aside productos__cookies__titulo" "productos__aside productos__cookies" "productos__aside productos__cupcakes__titulo" "productos__aside productos__cupcakes" "productos__aside productos__macarons__titulo" "productos__aside productos__macarons" "productos__aside productos__mousses__titulo" "productos__aside productos__mousses" "productos__aside productos__shots__titulo" "productos__aside productos__shots" "productos__aside productos__tartas__titulo" "productos__aside productos__tartas" "productos__aside productos__tortas__titulo" "productos__aside productos__tortas";
  width: 100%;
  height: 100%;
  margin-bottom: 48px;
}
section .productos a {
  text-decoration: none;
}
section .productos ul {
  position: sticky;
  top: 80px;
}
section .productos ul li {
  list-style: none;
  margin: 16px 0;
  font-weight: 600;
}
section .productos ul li a {
  color: #8b8b8b;
  margin-left: 16px;
}
section .productos ul h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
section .productos h3 {
  font-weight: 700;
  padding-top: 16px;
  scroll-margin-top: 80px;
}
section .productos h4 {
  font-weight: 600;
  line-height: 1.2rem;
  padding-top: 16px;
}
section .productos img {
  border-radius: 8px;
  width: 100%;
}
section .productos p {
  font-size: 0.85rem;
  color: #737171;
  line-height: 1.2rem;
  margin: 8px 0px 0px;
}
section .productos .productos__link__animacion:hover {
  transform: translate(1px, -4px);
}
section .productos .productos__cards__cantidad {
  margin: 4px 0px 8px;
  font-weight: 700;
  font-family: "Fira Sans", "Fira Sans Extra Condensed", sans-serif;
  letter-spacing: 0.01rem;
}
section .productos .productos__button {
  width: 100%;
  border-radius: 4px;
  background-color: transparent;
  color: #D83A56;
  font-weight: 600;
  border-color: #ee9baa;
  border-style: solid;
  box-shadow: 0.5px 2px 1px rgba(90, 1, 1, 0.24);
  margin-bottom: 32px;
}
section .productos__aside {
  grid-area: productos__aside;
  background-color: #ffe3e8;
  padding: 16px;
}
section .productos__budines__titulo {
  grid-area: productos__budines__titulo;
}
section .productos__cookies__titulo {
  grid-area: productos__cookies__titulo;
}
section .productos__cupcakes__titulo {
  grid-area: productos__cupcakes__titulo;
}
section .productos__macarons__titulo {
  grid-area: productos__macarons__titulo;
}
section .productos__mousses__titulo {
  grid-area: productos__mousses__titulo;
}
section .productos__shots__titulo {
  grid-area: productos__shots__titulo;
}
section .productos__tartas__titulo {
  grid-area: productos__tartas__titulo;
}
section .productos__tortas__titulo {
  grid-area: productos__tortas__titulo;
}
section .productos__budines {
  grid-area: productos__budines;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr;
  gap: 0px 36px;
  grid-auto-flow: row;
  grid-template-areas: "productos__budines__limon productos__budines__hamburgues productos__budines__ingles productos__budines__marmolado";
  width: 100%;
  border-bottom: solid 2px #e6909f;
}
section .productos__budines .productos__budines__limon {
  grid-area: productos__budines__limon;
}
section .productos__budines .productos__budines__hamburgues {
  grid-area: productos__budines__hamburgues;
}
section .productos__budines .productos__budines__ingles {
  grid-area: productos__budines__ingles;
}
section .productos__budines .productos__budines__marmolado {
  grid-area: productos__budines__marmolado;
}
section .productos__cookies {
  grid-area: productos__cookies;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr;
  gap: 0px 36px;
  grid-auto-flow: row;
  grid-template-areas: "productos__cookies__decoradas";
  width: 100%;
  border-bottom: solid 2px #e6909f;
}
section .productos__cookies .productos__cookies__decoradas {
  grid-area: productos__cookies__decoradas;
}
section .productos__cupcakes {
  grid-area: productos__cupcakes;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr;
  gap: 0px 36px;
  grid-auto-flow: row;
  grid-template-areas: "productos__cupcakes__chocolate productos__cupcakes__vainilla productos__cupcakes__marmolado";
  width: 100%;
  border-bottom: solid 2px #e6909f;
}
section .productos__cupcakes .productos__cupcakes__chocolate {
  grid-area: productos__cupcakes__chocolate;
}
section .productos__cupcakes .productos__cupcakes__vainilla {
  grid-area: productos__cupcakes__vainilla;
}
section .productos__cupcakes .productos__cupcakes__marmolado {
  grid-area: productos__cupcakes__marmolado;
}
section .productos__macarons {
  grid-area: productos__macarons;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr;
  gap: 0px 36px;
  grid-auto-flow: row;
  grid-template-areas: "productos__macarons__7unidades productos__macarons__12unidades productos__macarons__24unidades";
  width: 100%;
  border-bottom: solid 2px #e6909f;
}
section .productos__macarons .productos__macarons__7unidades {
  grid-area: productos__macarons__7unidades;
}
section .productos__macarons .productos__macarons__12unidades {
  grid-area: productos__macarons__12unidades;
}
section .productos__macarons .productos__macarons__24unidades {
  grid-area: productos__macarons__24unidades;
}
section .productos__mousses {
  grid-area: productos__mousses;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr;
  gap: 0px 36px;
  grid-auto-flow: row;
  grid-template-areas: "productos__mousses__frutosRojos productos__mousses__choco productos__mousses__chocoNaranja productos__mousses__tresChocolates";
  width: 100%;
  border-bottom: solid 2px #e6909f;
}
section .productos__mousses .productos__mousses__frutosRojo {
  grid-area: productos__mousses__frutosRojo;
}
section .productos__mousses .productos__mousses__choco {
  grid-area: productos__mousses__choco;
}
section .productos__mousses .productos__mousses__chocoNaranja {
  grid-area: productos__mousses__chocoNaranja;
}
section .productos__mousses .productos__mousses__tresChocolates {
  grid-area: productos__mousses__tresChocolates;
}
section .productos__shots {
  grid-area: productos__shots;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr;
  gap: 0px 36px;
  grid-auto-flow: row;
  grid-template-areas: "productos__shots__frutosRojo productos__shots__chocoBlanco productos__shots__dulceDeLeche productos__shots__frambuesa productos__shots__lemonpie";
  width: 100%;
  border-bottom: solid 2px #e6909f;
}
section .productos__shots .productos__shots__frutosRojo {
  grid-area: productos__shots__frutosRojo;
}
section .productos__shots .productos__shots__chocoBlanco {
  grid-area: productos__shots__chocoBlanco;
}
section .productos__shots .productos__shots__dulceDeLeche {
  grid-area: productos__shots__dulceDeLeche;
}
section .productos__shots .productos__shots__frambuesa {
  grid-area: productos__shots__frambuesa;
}
section .productos__shots .productos__shots__lemonpie {
  grid-area: productos__shots__lemonpie;
}
section .productos__tartas {
  grid-area: productos__tartas;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr;
  gap: 0px 36px;
  grid-auto-flow: row;
  grid-template-areas: "productos__tartas__cheesecake productos__tartas__crumble productos__tartas__frutilla productos__tartas__lemonpie productos__tartas__toffee";
  width: 100%;
  border-bottom: solid 2px #e6909f;
}
section .productos__tartas .productos__tartas__cheesecake {
  grid-area: productos__tartas__cheesecake;
}
section .productos__tartas .productos__tartas__crumble {
  grid-area: productos__tartas__crumble;
}
section .productos__tartas .productos__tartas__frutilla {
  grid-area: productos__tartas__frutilla;
}
section .productos__tartas .productos__tartas__lemonpie {
  grid-area: productos__tartas__lemonpie;
}
section .productos__tartas .productos__tartas__toffee {
  grid-area: productos__tartas__toffee;
}
section .productos__tortas {
  grid-area: productos__tortas;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr;
  gap: 0px 36px;
  grid-auto-flow: row;
  grid-template-areas: "productos__tortas__carrot productos__tortas__dobleChoco productos__tortas__redVelvet productos__tortas__selvaNegra";
  width: 100%;
}
section .productos__tortas .productos__tortas__carrot {
  grid-area: productos__tortas__carrot;
}
section .productos__tortas .productos__tortas__dobleChoco {
  grid-area: productos__tortas__dobleChoco;
}
section .productos__tortas .productos__tortas__redVelvet {
  grid-area: productos__tortas__redVelvet;
}
section .productos__tortas .productos__tortas__selvaNegra {
  grid-area: productos__tortas__selvaNegra;
}

/*------------------ PRODUCTOS DETALLE ------------------*/
.productos__detalle {
  margin-bottom: 16px;
  width: 100%;
  display: flex;
}
.productos__detalle .productos__detalle__texto {
  padding: 0 0 32px 32px;
}
.productos__detalle .productos__detalle__texto h1 {
  text-align: left;
  margin: 24px 0;
  font-size: 2rem;
}
.productos__detalle .productos__detalle__texto ul li {
  list-style: none;
}
.productos__detalle .productos__detalle__texto .productos__detalle__texto__precio {
  font-size: 1.2rem;
  font-weight: 800;
}
.productos__detalle .productos__detalle__texto .productos__detalle__texto__aclaracion {
  font-style: oblique;
  font-weight: 600;
}
.productos__detalle .productos__detalle__texto .productos__detalle__button {
  height: 32px;
  border-radius: 4px;
  background-color: #D83A56;
  color: white;
  font-weight: 600;
  border-color: #D83A56;
  border-style: solid;
  box-shadow: 0.5px 2px 1px rgba(90, 1, 1, 0.24);
  margin: 16px 0px 32px;
}
.productos__detalle .productos__detalle__texto .productos__detalle__texto__importante {
  padding: 16px;
  font-style: oblique;
  font-size: 0.9rem;
  line-height: 1.2rem;
  background-color: #ecd6d6;
  border-radius: 8px;
  color: #5e4e4e;
}

@media only screen and (max-width: 768px) {
  .productos__detalle {
    display: flex;
    flex-direction: column;
  }
  .productos__detalle .productos__detalle__contenedorImagen {
    display: block;
    width: 100%;
    padding-top: 24px;
  }
  .productos__detalle .productos__detalle__contenedorImagen img {
    display: block;
    width: 100%;
    border-radius: 4px;
  }
  .productos__detalle .productos__detalle__texto {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
  }
  .productos__detalle .productos__detalle__texto .productos__detalle__button {
    width: 63%;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .productos__detalle__contenedorImagen {
    width: 50%;
    padding-top: 24px;
  }
  .productos__detalle__contenedorImagen img {
    width: 100%;
    border-radius: 4px;
  }

  .productos__detalle__texto {
    width: 50%;
    display: inline-block;
  }
  .productos__detalle__texto .productos__detalle__button {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .productos__detalle__contenedorImagen {
    width: 40%;
    padding-top: 24px;
  }
  .productos__detalle__contenedorImagen img {
    width: 100%;
    border-radius: 4px;
  }

  .productos__detalle__texto {
    width: 60%;
    display: inline-block;
  }
  .productos__detalle__texto .productos__detalle__button {
    width: 50%;
  }
}
/*------------------ GALERIA ------------------*/
.seccion__galeria {
  margin-bottom: 120px;
}
.seccion__galeria .seccion__galeria__contenedor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 50vh);
  gap: 16px 16px;
  grid-template-areas: "imagen1 imagen2 imagen2 imagen3" "imagen4 imagen4 imagen5 imagen5" "imagen7 imagen6 imagen5 imagen5" "imagen9 imagen9 imagen8 imagen10";
}
.seccion__galeria .seccion__galeria__contenedor img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.seccion__galeria .seccion__galeria__contenedor .seccion__galeria__contenedor__imagen1 {
  grid-area: imagen1;
}
.seccion__galeria .seccion__galeria__contenedor .seccion__galeria__contenedor__imagen2 {
  grid-area: imagen2;
}
.seccion__galeria .seccion__galeria__contenedor .seccion__galeria__contenedor__imagen3 {
  grid-area: imagen3;
}
.seccion__galeria .seccion__galeria__contenedor .seccion__galeria__contenedor__imagen4 {
  grid-area: imagen4;
}
.seccion__galeria .seccion__galeria__contenedor .seccion__galeria__contenedor__imagen5 {
  grid-area: imagen5;
}
.seccion__galeria .seccion__galeria__contenedor .seccion__galeria__contenedor__imagen6 {
  grid-area: imagen6;
}
.seccion__galeria .seccion__galeria__contenedor .seccion__galeria__contenedor__imagen7 {
  grid-area: imagen7;
}
.seccion__galeria .seccion__galeria__contenedor .seccion__galeria__contenedor__imagen8 {
  grid-area: imagen8;
}
.seccion__galeria .seccion__galeria__contenedor .seccion__galeria__contenedor__imagen9 {
  grid-area: imagen9;
}
.seccion__galeria .seccion__galeria__contenedor .seccion__galeria__contenedor__imagen10 {
  grid-area: imagen10;
}
@media only screen and (max-width: 768px) {
  .seccion__galeria .seccion__galeria__contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 0.5fr);
    grid-template-areas: "imagen1" "imagen2" "imagen3" "imagen4" "imagen5" "imagen6" "imagen7" "imagen8" "imagen9" "imagen10";
  }
}

/*------------------ SOBRE NOSOTROS ------------------*/
@media only screen and (max-width: 768px) {
  .sobrenosotros__contenedor {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    margin-top: 24px;
  }
  .sobrenosotros__contenedor .sobrenosotros__contenedor__imagen {
    display: block;
    width: 100%;
    height: 60vh;
  }
  .sobrenosotros__contenedor .sobrenosotros__contenedor__imagen img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 8px;
  }
  .sobrenosotros__contenedor .sobrenosotros__contenedor__texto {
    width: 100%;
    margin-top: 16px;
  }
  .sobrenosotros__contenedor .sobrenosotros__contenedor__texto p {
    display: inline-block;
    font-size: 1.1rem;
    margin-top: 8px;
    line-height: 1.4rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .sobrenosotros__contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 48px;
  }
  .sobrenosotros__contenedor .sobrenosotros__contenedor__texto {
    width: 55%;
    display: inline-block;
    padding-left: 32px;
  }
  .sobrenosotros__contenedor .sobrenosotros__contenedor__texto p {
    display: inline-block;
    font-size: 1.1rem;
    margin-top: 8px;
    line-height: 1.4rem;
  }
  .sobrenosotros__contenedor .sobrenosotros__contenedor__imagen {
    width: 45%;
    max-height: 70vh;
  }
  .sobrenosotros__contenedor .sobrenosotros__contenedor__imagen img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 8px;
  }
}
@media only screen and (min-width: 992px) {
  .sobrenosotros__contenedor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 48px;
  }
  .sobrenosotros__contenedor .sobrenosotros__contenedor__texto {
    width: 50%;
    display: inline-block;
    padding-left: 32px;
  }
  .sobrenosotros__contenedor .sobrenosotros__contenedor__texto p {
    display: inline-block;
    font-size: 1.2rem;
    margin-top: 8px;
    line-height: 1.6rem;
  }
  .sobrenosotros__contenedor .sobrenosotros__contenedor__imagen {
    width: 50%;
    max-height: 70vh;
  }
  .sobrenosotros__contenedor .sobrenosotros__contenedor__imagen img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 8px;
  }
}
/*------------------ CONTACTO ------------------*/
.contacto__formulario {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: #fa92a5 solid;
  margin-bottom: 80px;
}
.contacto__formulario .contacto__formulario__datos, .contacto__formulario .contacto__formulario__textarea {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  font-family: "Source Sans Pro", "Fira Sans", "Fira Sans Extra Condensed", sans-serif;
  padding: 8px 0;
}
.contacto__formulario .contacto__formulario__boton__rehacer, .contacto__formulario .contacto__formulario__boton__enviar {
  background: none;
  border: none;
  outline: none;
  font-family: "Source Sans Pro", "Fira Sans", "Fira Sans Extra Condensed", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #D83A56;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 540px) {
  .contacto__formulario {
    padding: 8px 0;
    width: 100%;
  }
  .contacto__formulario input, .contacto__formulario textarea {
    margin: 0;
  }
  .contacto__formulario .contacto__formulario__datos, .contacto__formulario .contacto__formulario__textarea, .contacto__formulario .contacto__formulario__boton__rehacer, .contacto__formulario .contacto__formulario__boton__enviar {
    width: 70%;
  }
  .contacto__formulario .contacto__formulario__datos, .contacto__formulario .contacto__formulario__textarea {
    font-size: 0.8rem;
  }
  .contacto__formulario .contacto__formulario__boton__rehacer {
    height: 48px;
    padding: 8px 32px;
    margin: 32px 8px 0px 8px;
  }
  .contacto__formulario .contacto__formulario__boton__enviar {
    height: 48px;
    padding: 8px 32px;
    margin: 24px 8px 32px 8px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 1070px) {
  .contacto__formulario {
    padding: 24px 0;
    width: 90%;
  }
  .contacto__formulario input, .contacto__formulario textarea {
    margin: 0 36px;
  }
  .contacto__formulario .contacto__formulario__datos, .contacto__formulario .contacto__formulario__textarea, .contacto__formulario .contacto__formulario__boton__rehacer, .contacto__formulario .contacto__formulario__boton__enviar {
    width: 70%;
  }
  .contacto__formulario .contacto__formulario__datos, .contacto__formulario .contacto__formulario__textarea {
    font-size: 0.95rem;
  }
  .contacto__formulario .contacto__formulario__boton__rehacer {
    height: 48px;
    padding: 8px 32px;
    margin: 48px 8px 0px 8px;
  }
  .contacto__formulario .contacto__formulario__boton__enviar {
    height: 48px;
    padding: 8px 32px;
    margin: 24px 8px 32px 8px;
  }
}
@media only screen and (min-width: 1070px) {
  .contacto__formulario {
    padding: 24px 0;
    width: 80%;
  }
  .contacto__formulario input, .contacto__formulario textarea {
    margin: 0 36px;
  }
  .contacto__formulario .contacto__formulario__datos {
    width: 40%;
    margin-bottom: 24px;
    font-size: 1rem;
  }
  .contacto__formulario .contacto__formulario__textarea {
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    min-height: 56px;
    max-height: 184px;
    font-size: 1rem;
  }
  .contacto__formulario .contacto__formulario__boton__rehacer, .contacto__formulario .contacto__formulario__boton__enviar {
    height: 48px;
    padding: 8px 32px;
    margin: 20px 8px 40px 36px;
  }
}
/*------------------ MAPA DEL SITIO ------------------*/
.mapaDelSitio ul {
  margin-left: 40px;
}
.mapaDelSitio ul li {
  list-style: none;
  margin-left: 20px;
}
.mapaDelSitio ul li a {
  text-decoration: none;
  color: #8b8b8b;
}

/*------------------ FOOTER ------------------*/
footer {
  background-color: #D83A56;
  color: white;
  padding: 20px 0;
  font-weight: 400;
}
footer p {
  color: white;
  font-size: 0.85rem;
}

@media only screen and (max-width: 645px) {
  .footer__contenedor__grilla {
    display: flex;
    flex-direction: column;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos {
    display: flex;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__logo {
    display: none;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes {
    padding-top: 16px;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__seguinos {
    font-size: 1.4rem;
    margin-bottom: 8px;
    font-style: oblique;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex .footer__contenedor__redes__flex__iconoytexto {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex .footer__contenedor__redes__flex__iconoytexto img {
    display: inline-block;
    height: 32px;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex .footer__contenedor__redes__flex__iconoytexto p {
    margin: 4px 0 0 8px;
    display: block;
  }
  .footer__contenedor__grilla .footer__contenedor__mediosDePago {
    display: none;
  }
  .footer__contenedor__grilla .footer__contenedor__pedidos {
    display: none;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos {
    display: flex;
    flex-direction: column;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__titulo {
    padding-top: 16px;
    font-size: 1.3rem;
    margin-bottom: 0;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__dias {
    display: none;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__iconosytexto {
    display: flex;
    width: 100%;
    margin-top: 6px;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__iconosytexto img {
    display: inline-block;
    height: 32px;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__iconosytexto p {
    display: block;
    margin: 6px 0 0 8px;
  }
}
@media only screen and (min-width: 645px) and (max-width: 970px) {
  .footer__contenedor__grilla {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 0.5fr;
    gap: 24px;
    grid-template-areas: "footer__contenedor__seguinos footer__contenedor__contactanos";
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos {
    grid-area: footer__contenedor__seguinos;
    display: flex;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__logo {
    margin-right: 16px;
    width: 30%;
    display: inline-block;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__logo img {
    width: 100%;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes {
    padding-top: 16px;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__seguinos {
    font-size: 1.4rem;
    margin-bottom: 4px;
    font-style: oblique;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex {
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex .footer__contenedor__redes__flex__iconoytexto {
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex .footer__contenedor__redes__flex__iconoytexto img {
    display: inline-block;
    height: 28px;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex .footer__contenedor__redes__flex__iconoytexto p {
    margin: 4px 0 0 8px;
    display: block;
  }
  .footer__contenedor__grilla .footer__contenedor__mediosDePago {
    display: none;
  }
  .footer__contenedor__grilla .footer__contenedor__pedidos {
    display: none;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos {
    grid-area: footer__contenedor__contactanos;
    display: flex;
    flex-direction: column;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__titulo {
    padding-top: 16px;
    font-size: 1.3rem;
    margin-bottom: 4px;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__dias {
    margin-bottom: 2px;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__iconosytexto {
    display: flex;
    width: 100%;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__iconosytexto img {
    display: inline-block;
    height: 28px;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__iconosytexto p {
    display: block;
    margin: 6px 0 0 8px;
  }
}
@media only screen and (min-width: 970px) and (max-width: 1150px) {
  .footer__contenedor__grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr;
    gap: 36px;
    grid-template-areas: "footer__contenedor__seguinos footer__contenedor__mediosDePago footer__contenedor__contactanos";
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos {
    grid-area: footer__contenedor__seguinos;
    display: flex;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__logo {
    margin-right: 16px;
    width: 40%;
    display: inline-block;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__logo img {
    width: 100%;
    min-width: 80px;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes {
    padding-top: 16px;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__seguinos {
    font-size: 1.4rem;
    margin-bottom: 8px;
    font-style: oblique;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex .footer__contenedor__redes__flex__iconoytexto {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex .footer__contenedor__redes__flex__iconoytexto img {
    display: inline-block;
    height: 28px;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex .footer__contenedor__redes__flex__iconoytexto p {
    margin: 4px 0 0 8px;
    display: block;
  }
  .footer__contenedor__grilla .footer__contenedor__mediosDePago {
    grid-area: footer__contenedor__mediosDePago;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 16px;
  }
  .footer__contenedor__grilla .footer__contenedor__mediosDePago .footer__contenedor__mediosDePago__titulo {
    display: inline-block;
    font-size: 1.3rem;
  }
  .footer__contenedor__grilla .footer__contenedor__mediosDePago .contenedor__mediosDePago__opciones {
    display: inline-block;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .footer__contenedor__grilla .footer__contenedor__mediosDePago .contenedor__mediosDePago__opciones .contenedor__mediosDePago__opciones__logo {
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  .footer__contenedor__grilla .footer__contenedor__mediosDePago .contenedor__mediosDePago__opciones .contenedor__mediosDePago__opciones__logo img {
    width: 36px;
  }
  .footer__contenedor__grilla .footer__contenedor__pedidos {
    display: none;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos {
    grid-area: footer__contenedor__contactanos;
    display: flex;
    flex-direction: column;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__titulo {
    padding-top: 16px;
    font-size: 1.3rem;
    margin-bottom: 8px;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__dias {
    margin-bottom: 8px;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__iconosytexto {
    display: flex;
    width: 100%;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__iconosytexto img {
    display: inline-block;
    height: 28px;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__iconosytexto p {
    display: block;
    margin: 6px 0 0 8px;
  }
}
@media only screen and (min-width: 1150px) {
  .footer__contenedor__grilla {
    display: grid;
    grid-template-columns: 1.2fr 1.1fr 0.9fr 0.8fr;
    grid-template-rows: 0.5fr;
    gap: 36px;
    grid-template-areas: "footer__contenedor__seguinos footer__contenedor__mediosDePago footer__contenedor__pedidos footer__contenedor__contactanos";
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos {
    grid-area: footer__contenedor__seguinos;
    display: flex;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__logo {
    margin-right: 16px;
    width: 40%;
    display: inline-block;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__logo img {
    width: 100%;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes {
    padding-top: 16px;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__seguinos {
    font-size: 1.4rem;
    margin-bottom: 8px;
    font-style: oblique;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex .footer__contenedor__redes__flex__iconoytexto {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex .footer__contenedor__redes__flex__iconoytexto img {
    display: inline-block;
    height: 32px;
  }
  .footer__contenedor__grilla .footer__contenedor__seguinos .footer__contenedor__redes .footer__contenedor__redes__flex .footer__contenedor__redes__flex__iconoytexto p {
    margin: 4px 0 0 8px;
    display: block;
  }
  .footer__contenedor__grilla .footer__contenedor__mediosDePago {
    grid-area: footer__contenedor__mediosDePago;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 16px;
  }
  .footer__contenedor__grilla .footer__contenedor__mediosDePago .footer__contenedor__mediosDePago__titulo {
    display: inline-block;
    font-size: 1.3rem;
  }
  .footer__contenedor__grilla .footer__contenedor__mediosDePago .contenedor__mediosDePago__opciones {
    display: inline-block;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .footer__contenedor__grilla .footer__contenedor__mediosDePago .contenedor__mediosDePago__opciones .contenedor__mediosDePago__opciones__logo {
    display: inline-block;
    text-align: center;
    width: 33%;
  }
  .footer__contenedor__grilla .footer__contenedor__mediosDePago .contenedor__mediosDePago__opciones .contenedor__mediosDePago__opciones__logo img {
    width: 40px;
  }
  .footer__contenedor__grilla .footer__contenedor__pedidos {
    grid-area: footer__contenedor__pedidos;
    text-align: center;
    padding-top: 16px;
  }
  .footer__contenedor__grilla .footer__contenedor__pedidos .footer__contenedor__pedidos__titulo {
    font-size: 1.3rem;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos {
    grid-area: footer__contenedor__contactanos;
    display: flex;
    flex-direction: column;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__titulo {
    padding-top: 16px;
    font-size: 1.3rem;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__dias {
    margin-bottom: 8px;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__iconosytexto {
    display: flex;
    width: 100%;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__iconosytexto img {
    display: inline-block;
    height: 32px;
  }
  .footer__contenedor__grilla .footer__contenedor__contactanos .footer__contenedor__contactanos__iconosytexto p {
    display: block;
    margin: 6px 0 0 8px;
  }
}/*# sourceMappingURL=styles.css.map */