/*------------------ BODY ------------------*/
*{
    margin: 0;
    padding: 0;
}
body{ 
    background-color:white;
    font-family:'Source Sans Pro', 'Fira Sans','Fira Sans Extra Condensed', sans-serif;
    color: #D83A56;
    h1{
        color: #D83A56;
        font-size: 2.4rem;
        margin: 30px 0 30px;
        text-align: center;
        font-weight: 800;
    }
    
    h2{
        color: #D83A56;
        font-weight: 600;
        font-size: 2rem;
    }

    h3{
        font-size: 1.4rem;
    }

    h4{
        font-size: 1.2rem;
    }

    .rutaNavegacion{
        margin-top: 24px;
        font-size: 1.2rem;
        a{
            text-decoration: none;
            color: #D83A56;
        }
        span{
            font-weight: 600;
        }
    }

    .padding__contenido{
        padding: 0 80px 0;
    }
}
