/*------------------ HEADER ------------------*/
header{
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 4px 8px rgba(90, 1, 1, 0.24);
    font-family: 'Source Sans Pro','Fira Sans','Fira Sans Extra Condensed', sans-serif;
    font-weight: 400;
    font-stretch:condensed;

    .navbar-brand {
        width: 90px;
        height: 50px;
    }

        img {
            width: 100%; 
            height: 100%;
    }

    .bg {
        background-color: #D83A56;
    }
    .navbar-light .navbar-toggler {
        border-color: transparent;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 4px 8px;
        border-radius: 4px;
        img{
            width: 24px;
        }
    }

    .navbar-nav li:hover{
        button{
            border-color: transparent;
            }
    }

    .dropdown-toggle-split{
        padding-left: 0%;
        color: white;
    }
    .nav-item-desplegable{
        display: flex;
        flex-direction: column;
        .btn-group{
            display: inline-block;
            margin-right: 8px;
            .btn-danger{
                padding: 0;
                background-color: transparent;
                }
                .nav-link{
                    padding-right: 0;
                }
            .btn-danger:hover{
                border-color: transparent;
            }
            .dropdown-menu{
                border-color: transparent;
                .dropdown-item{
                    background-color: rgba(255, 255, 255, 0.05);
                    border-radius: 4px;
                }
                .dropdown-item:hover{
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 4px;
                }
            }
            .dropdown-toggle-split {
                margin-left: 4px;
                padding-top: 2px;
            }
        }
        .dropdown-menu.bg.show::after{
            display: none;
        }

        .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
            background-color: transparent;
            border-color: transparent;
        }
    }

}