/*------------------ MAPA DEL SITIO ------------------*/

.mapaDelSitio{

    ul{
        margin-left: 40px;
        li{
            list-style: none;
            margin-left: 20px;

            a{
                text-decoration: none;
                color: #8b8b8b;
            }
        }
    }
    margin-bottom: 80px;

    .productos__categorias {
        font-size: 1.2rem;
        font-weight: 600;
    }
}