/*------------------ PRODUCTOS ------------------*/

.productos__opciones {
    margin: 48px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr, 0.6fr, 0.6fr, 0.2fr, 0.2fr, 0.6fr, 0.6fr, 0.2fr;
    grid-template-areas: 
        "titulo1 titulo2 titulo3"
        "detalle1 detalle2 detalle3"
        "ingredientes1 ingredientes2 ingredientes3"
        "precio1 precio2 precio3"
        "titulo4 titulo5 titulo6"        
        "detalle4 detalle5 detalle6"
        "ingredientes4 ingredientes5 ingredientes6"
        "precio4 precio5 precio6";
    gap: 12px;
    
    div{
        border: solid;
        border-color: rgb(255, 180, 146);
        padding: 24px;
        border-radius: 8px;
    }

    ul {
        list-style-type: none;
    }

    h3{
        font-weight: 600;
    }

    h4{
        font-weight: 800;
    }

    li{
        font-size: 0.9rem;
    }

    .productos__opciones__tortas {
        h3 {
            grid-area: titulo1;
        }
        .productos__opciones__tortas__detalle{
            grid-area: detalle1;
        }
        .productos__opciones__tortas__ingredientes{
            grid-area: ingredientes1;
        }
        h4{
            grid-area: precio1;
        }
    }

    .productos__opciones__cupcakes{
        h3 {
            grid-area: titulo2;
        }
        .productos__opciones__cupcakes__detalle{
            grid-area: detalle2;
        }
        .productos__opciones__cupcakes__ingredientes{
            grid-area: ingredientes2;
        }
        h4 {
            grid-area: precio2;
        }
    }

    .productos__opciones__macarons{
        h3 {
            grid-area: titulo3;
        }
        .productos__opciones__macarons__detalle{
            grid-area: detalle3;
        }
        .productos__opciones__macarons__ingredientes{
            grid-area: ingredientes3;
        }
        h4{
            grid-area: precio3;
        }
    }

    .productos__opciones__shots{
        h3 {
            grid-area: titulo4;
        }
        .productos__opciones__shots__detalle{
            grid-area: detalle4;
        }
        .productos__opciones__shots__ingredientes{
            grid-area: ingredientes4;
        }
        h4{
            grid-area: precio4;
        }
    }

    .productos__opciones__budines{
        h3 {
            grid-area: titulo5;
        }
        .productos__opciones__budines__detalle{
            grid-area: detalle5;
        }
        .productos__opciones__budines__ingredientes{
            grid-area: ingredientes5;
        }
        h4{
            grid-area: precio5;
        }
    }

        .productos__opciones__tartas{
            h3 {
                grid-area: titulo6;
            }
            .productos__opciones__tartas__detalle{
                grid-area: detalle6;
            }
            .productos__opciones__tartas__ingredientes{
                grid-area: ingredientes6;
            }
            h4{
                grid-area: precio6;
            }
    }

    @media only screen and (max-width: 768px){
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr, 0.6fr, 0.6fr, 0.2fr, 0.2fr, 0.6fr, 0.6fr, 0.2fr, 0.2fr, 0.6fr, 0.6fr, 0.2fr ;
        grid-template-areas: 
            "titulo1"
            "detalle1"
            "ingredientes1"
            "precio1"
            "titulo2"
            "detalle2"
            "ingredientes2"
            "precio2"
            "titulo3"
            "detalle3"
            "ingredientes3"
            "precio3"
            "titulo4"
            "detalle4"
            "ingredientes4"
            "precio4"
            "titulo5"
            "detalle5"
            "ingredientes5"
            "precio5"
            "titulo6"
            "detalle6"
            "ingredientes6"
            "precio6";
    }
}