/*------------------ PRODUCTOS DETALLE ------------------*/

.productos__detalle{
    margin-bottom: 16px;
    width: 100%;
    display: flex;

    .productos__detalle__contenedorImagen{
        width: 40%;
        padding-top: 56px;
        img{
                width: 100%;
                border-radius: 4px;
            }
    }
    .productos__detalle__texto {
        width: 60%;
        display: inline-block;
        padding: 32px 0 32px 32px;

        h1{
            text-align: left;
            margin: 16px 0;
            font-size: 2rem;
        }
        ul{
            li{
                list-style: none;
            }
        }

        .productos__detalle__texto__precio{
            font-size: 1.2rem;
            font-weight: 800;
        }
        .productos__detalle__texto__aclaracion{
            font-style: oblique;
            font-weight: 600;
        }
        .productos__detalle__texto__importante{
            padding: 16px;
            font-style: oblique;
            font-size: 0.9rem;
            line-height: 1.2rem;
            background-color: #ecd6d6;
            border-radius: 8px;
            color: #5e4e4e;
        }
    }

}